<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <form action="/create" method="get">
        <label for="get_name">GET</label>
        <input type="text" id="get_name" name="get_content"><br>
        <input type="submit" value="Submit">
    </form>
    <br><br>
    <form action="/createpost" method="post">
        <label for="post_name">POST</label>
        <input type="text" id="post_name" name="post_content"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>